@model Kemergency.ViewModels.HospitalBookingViewModel

@{
    ViewData["Title"] = "DeleteBooking";
}

<div class="row">

    <div class="col-6">
        <h2 class="page-header">  رد کړي</h2>
    </div>
    <div class="col-6">
        <h5 class="text-right"></h5>
    </div>
</div>
<div class="row">
    <div class="col-6">

        <address>
            <strong>
                @Html.DisplayNameFor(model => model.CustomerName)
            </strong><br>

            @Html.DisplayNameFor(model => model.CustomerAddress)<br>
            @Html.DisplayNameFor(model => model.CustomerNumber)<br>
            @Html.DisplayNameFor(model => model.Bookingtime)<br>

        </address>
    </div>
    <div class="col-6">

        <address>
            <strong>
                @Html.DisplayFor(model => model.CustomerName)
            </strong><br>

            @Html.DisplayFor(model => model.CustomerAddress)<br>
            @Html.DisplayFor(model => model.CustomerNumber)<br>

            @Html.DisplayFor(model => model.Bookingtime)<br>

        </address>
    </div>
    <form method="post" asp-action="DeleteConfirm">
        <input type="hidden" asp-for="Id" />
        <input type="submit" id="btnSubmit" value="رد کول" class="btn btn-primary">


    </form>
</div>





@section Scripts{

    <script>

    </script>


}