@model IEnumerable<Kemergency.ViewModels.HospitalBookingViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Hospital_/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">نیول سوي خدمات</h6>
                </div>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CustomerName)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.CustomerNumber)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.CustomerAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bookingtime)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bookingtime)
                                    </td>

                                    <td>


                                        <a href="#" onclick="myedit(@item.Id)"><i class="fa fa-check"></i></a> |
                                        <a href="#" onclick="ShowEmployee(@item.Id)"><i class="fa fa-pencil"></i> </a>
                                        <a href="#" onclick="Delete(@item.Id)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h3 class="modal-title"></h3>
                                </div>
                                <div class="modal-body" id="myModalBodyDiv">


                                </div>


                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        $(document).ready(function () {
            $("#sampleTable").DataTable({

                "language": {
                    "loadingRecords": "صفحي ...",
                    "lengthMenu": "صفحی _MENU_ ",
                    "zeroRecords": "لم يعثر على أية سجلات",
                    "info": "صفحه _START_ تر _END_  پوري د_TOTAL_ ",
                    "search": "پلټل:",
                    "paginate": {
                        "first": "اول",
                        "previous": "مخکی",
                        "next": "راتلونکي",
                        "last": "اخیري"
                    },

                }

            });
        })

        var Delete = function (Id) {
            var url = "/hospital_/Booking/DeleteBooking?Id=" + Id;
            $("#myModalBodyDiv").load(url, function () {

                $("#myModal").modal("show");
            })
        }


        var ShowEmployee = function (employeeId) {

            var url = "/hospital_/Booking/Details?Id=" + employeeId;

            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal("show");

            })



        }

        var myedit = function (employeeId) {

            var url = "/hospital_/Booking/EditHospitalBooking?Id=" + employeeId;

            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal("show");

            })

        }

    </script>
    <script>



        $(document).ready(function () {

            $("#btnsubmit").click(function () {

                var myformdata = $("#myform").serialize();
                // var mid = $("#myId").val();
                $.ajax({

                    type: "POST",
                    url: "/Hospital_/Booking/Edit",
                    data: myformdata,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response) {
                        $("#myModal").modal("hide");
                        window.location.href = "/hospital_/booking/Edit";
                        if (response.success) {
                            toastr.success("تا سو خدمات ونیول")
                        } else {
                            toastr.error("تا سو خدمات ونه نیول سول ")
                        }

                    }

                })
            })
        })






    </script>


}



@*@section Scripts{

        <script>

            $(document).ready(function () {

                $("#btnSubmit").click(function () {



                    var myformdata = $("#myForm").serialize();

                    $.ajax({

                        type: "POST",
                        url: "/Hospital_/Booking/DeleteConfirm",
                        data: myformdata,
                        success: function () {
                            $("#myModal").modal("hide");
                            window.location.href = "/hospital_/booking/Edit";

                        }

                    })
                })

            })


        </script>



    }*@