@model IEnumerable<Kemergency.ViewModels.FireTrackServiceViewModeel>



<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Homepagelayout/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h2 class="text-primary text-uppercase mb-3 animated slideInDown">امرجنسي خدمات</h2>
                            <h1 class="display-3 text-white animated slideInDown">په لنډ وخت کي امرجنسي خدمات راوغواړي</h1>
                            <p class="fs-5 text-white mb-4 pb-2"> زموږ موخه په کندهار ښار کي امرجنسي خدمات ته پر وخت لاس رسي دي</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">نور معلومات</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">نوی یاست</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Homepagelayout/img/carousel.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">امرجنسي خدمات</h5>
                            <h1 class="display-3 text-white animated slideInDown">په لنډ وخت کي امرجنسي خدمات راوغواړي</h1>
                            <p class="fs-5 text-white mb-4 pb-2">زموږ موخه په کندهار ښار کي امرجنسي خدمات ته پر وخت لاس رسي د</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">نور معلومات</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">نوی یاست</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">خدمات</h6>
    <h1 class="mb-5">خدمات راوغواړي</h1>
</div>



@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <h2> @Html.DisplayFor(modelItem => item.Name)</h2>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div>
                       
                        <div class="branchContact">
                            <div id="branchAddress"> ادرس :@Html.DisplayFor(modelItem => item.Address) </div>
                            <br />
                            <div id="branchTel">  موټروان :@Html.DisplayFor(modelItem => item.DriverName)  </div>
                            <br />
                            <div id="branchTel"> موټروان نمبر :@Html.DisplayFor(modelItem => item.DriverNumber)  </div>
                        </div>
                        <div id="branchDescription">
                            <p class="caption"></p>
                        </div>

                        <div id="branchHours">
                            <ul>
                                @*@foreach (var day in )
                                    {
                                    <li></li>
                                    }*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 detailInfo">
                    <table>
                        <tr>
                            <td class="itemLabel"> مرکزۍ نمبر :@Html.DisplayFor(modelItem => item.phoneNumber) </td>
                        
                        </tr>
                           
                        @*<tr>
                                <td class="itemLabel">
                                    Hospital close:@Html.DisplayFor(modelItem => item)
                                </td>
                            </tr>
                            <tr>
                                <td class="itemLabel">
                                    Number Of Ambuliance:@Html.DisplayFor(modelItem => item)
                                </td>
                            </tr>*@
                        <tr>
                            @*@if ()
                                {
                                <td class="itemLabel"> Hospital Status: <span class="badge-success">  @Html.DisplayFor(modelItem => item)</span> </td>
                                }
                                else
                                {
                                <td class="itemLabel">Hospital Status:<span class="badge-danger">@Html.DisplayFor(modelItem => item)</span> </td>

                                }*@

                        </tr>
                        <tr>
                            <td>
                                <a href="#" onclick="ShowEmployee(@item.Id)"><i class="fa fa-pencil"></i> </a>
                                <br />
                                <a class="btn btn-primary" asp-action="Edit" asp-controller="FireTrackService" asp-route-Id="@item.Id">خدمات راوغواړي</a>
                            </td>

                        </tr>
                    </table>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h3 class="modal-title"></h3>
                                </div>
                                <div class="modal-body" id="myModalBodyDiv">


                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}




@section Scripts{
    <script>



        var ShowEmployee = function (employeeId) {

            var url = "/FireTrackService/Edit?Id=" + employeeId;

            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal("show");

            })
        }
    </script>
}







