
@model IEnumerable<Kemergency.ViewModels.BookingViewModel>



<script src="~/js/site.js"></script>

@{
    ViewBag.title = "Services";
}

<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Homepagelayout/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h2 class="text-primary text-uppercase mb-3 animated slideInDown">امرجنسي خدمات</h2>
                            <h1 class="display-3 text-white animated slideInDown">په لنډ وخت کي امرجنسي خدمات راوغواړي</h1>
                            <p class="fs-5 text-white mb-4 pb-2"> زموږ موخه په کندهار ښار کي امرجنسي خدمات ته پر وخت لاس رسي دي</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">نور معلومات</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">نوی یاست</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Homepagelayout/img/carousel.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">امرجنسي خدمات</h5>
                            <h1 class="display-3 text-white animated slideInDown">په لنډ وخت کي امرجنسي خدمات راوغواړي</h1>
                            <p class="fs-5 text-white mb-4 pb-2">زموږ موخه په کندهار ښار کي امرجنسي خدمات ته پر وخت لاس رسي د</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">نور معلومات</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">نوی یاست</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">خدمات</h6>
    <h1 class="mb-5">خدمات راوغواړي</h1>
</div>

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <h2> @Html.DisplayFor(modelItem => item.ServicesName)</h2>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div>
                      
                        <div class="branchContact">
                            <div id="branchAddress">ادرس:@Html.DisplayFor(modelItem => item.Address) </div>
                            <div id="branchTel">هسپتال نوم:@Html.DisplayFor(modelItem => item.HospitalName) </div>
                            <div id="branchTel">ټلیفون:@Html.DisplayFor(modelItem => item.Phone) </div>
                        </div>
                        <div id="branchDescription">
                            <p class="caption"></p>
                        </div>

                        <div id="branchHours">
                            <ul>
                                @*@foreach (var day in )
                                    {
                                        <li></li>
                                    }*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  col-sm-6 detailInfo ">
                    <table>
                        <tr>
                            <td class="itemLabel">کاري وخت: @Html.DisplayFor(modelItem => item.OpenTime) </td>

                        </tr>
                        <tr>
                            <td class="itemLabel">
                                دبندولو وخت:@Html.DisplayFor(modelItem => item.CloseTime)
                            </td>
                        </tr>
                        <tr>
                            <td class="itemLabel">
                                دامبو لانسونو تعداد:@Html.DisplayFor(modelItem => item.AvaliableAmbuliance)
                            </td>
                        </tr>
                        <tr>
                            @if (item.HospitalStaus == "Open")
                            {
                                <td class="itemLabel"> حالت: <span class="badge-success">  @Html.DisplayFor(modelItem => item.HospitalStaus)</span> </td>
                            }
                            else
                            {
                                <td class="itemLabel">حالت:<span class="badge-danger">@Html.DisplayFor(modelItem => item.HospitalStaus)</span> </td>

                            }

                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-primary" asp-action="BookingEdti" asp-controller="Hospitals" asp-route-Id="@item.Id"> خدمات راوغواړي</a>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}












